<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbj.mapper.DishMapper">
    <select id="selectDishByPage" resultType="dish">
        select name,price,is_preferential,weight,update_time,image
        from dish where businessman_id=#{businessmanId} limit #{index},#{offset}
    </select>

    <delete id="deleteMultiple">
        delete from dish
        where businessman_id = #{businessmanId}
        and id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateDish">
        update dish set
        name = #{dish.name},price=#{dish.price},is_preferential=#{dish.isPreferential},weight=#{dish.weight}
        ,update_time=#{dish.updateTime}
        where businessman_id=#{currentId} and id=#{dish.id}
    </update>

    <insert id="insertDish" useGeneratedKeys="true" keyProperty="dish.id">
        insert into dish(name,price,is_preferential,weight,businessman_id,update_time,image)
        value(#{dish.name},#{dish.price},#{dish.isPreferential},#{dish.weight},#{currentId},#{dish.updateTime},#{dish.image})
    </insert>

    <select id="selectDishByOrderId" resultType="dish">
        select d.id,name,price,is_preferential,weight,image
        from dish d
        right join order_dish od
        on od.dish_id=d.id
        where order_id=#{orderId}
    </select>
</mapper>